services:
  discovery-service:
    build: ./ms-discovery
    container_name:  discovery-doc
    ports:
      - "8761:8761"
    expose:
      - "8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 4s
      retries: 10
  config-service:
    build: ./ms-config
    container_name: config-doc
    ports:
      - '9999:9999'
    expose:
      - '9999'
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:9999/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 10s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
    depends_on:
      discovery-service:
        condition: service_healthy
  livre_service:
    build: ./ms-livre
    container_name: livre-doc
    ports:
      - "8081:8081"
    expose:
      - "8081"
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:8081/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 15s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
    depends_on:
      config-service:
        condition: service_healthy
  user_service:
    build: ./ms-etudiant
    container_name: user-doc
    ports:
      - "8080:8080"
    expose:
      - "8080"
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:7072/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 15s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
    depends_on:
      config-service:
        condition: service_healthy
  emprunt_service:
    build: ./ms-emprunt
    container_name: emprunt-doc
    ports:
      - "8082:8082"
    expose:
      - "8082"
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:7073/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 20s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
    depends_on:
      config-service:
        condition: service_healthy
      livre_service:
        condition: service_healthy
      user_service:
        condition: service_healthy
  gateway-service:
    build: ./ms-gateway
    container_name: gateway-doc
    ports:
      - '8888:8888'
    expose:
      - '8888'
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:8888/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 25s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
    depends_on:
      emprunt_service:
        condition: service_healthy


